.thumbnail img{
	width: 100%;
}

.thumbnail{
	padding: 0;
}

.thumbnail .caption-full{
	padding: 9px;
}


#delete-form{
	display: inline;
}

.delete-form{
	display: inline;
}

/* @media screen and (max-width: 992px){
	.navbar-default{
		min-height: 150px;
		
	}
} */
